/*
 * Globals
 */

body {
	background-size: cover;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {

}

#cover{	
	height:156%;	
	width:100%;
	z-index:100;
	background-color:#000;
	opacity: 0.5;
	position:absolute;
}

@media (min-width: 992px){
	.masthead{
		height:150px !important;
	}		
}


#sendButton{
    background-color: rgba(255, 203, 5, 1);
    font: normal normal normal 16px/1.4em 'Open Sans',sans-serif;
    border: 0;
    color: rgba(0, 0, 0, 1);
    cursor: pointer;
    float: right;
    margin: 0;
    max-width: 35%;
}
	
	

/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 1270px;	
	min-height:800px;
  }
}


/*
 * Masthead for nav
 */

.masthead {  
	height:370px;	
        margin-top: -50px;
}


.logo_main{
	width:550px;
	margin-left:auto;	
	margin-right:auto;    
}

#emptydiv{
    width:500px;
}

#mixer_accueil{	
	cursor:pointer; 	       	
    float:left;
    margin-left:0%;
}

@media (min-width: 1100px) {
	  #mixer_accueil{
		 margin-left:10%;
	}
}

@media (min-width: 1800px) {
	  #mixer_accueil{
		 margin-left:20%;
	}
}

@media (min-width: 2335px) {
	  #mixer_accueil{
		 margin-left:25%;
	}
}




/*
 * Blog name and description
 */

.header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: normal;
  font: normal normal normal 40px/1.4em Impact,impact-w01-2010,impact-w02-2010,impact-w10-2010,sans-serif;
}
.description {
  font-size: 20px;
  color: #999;
}

.font1{
	font: normal normal normal 20px/1.4em Impact,impact-w01-2010,impact-w02-2010,impact-w10-2010,sans-serif;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Modal Windows */

.modal {
	background-image:url(../images/bg1.jpg);	
	position:absolute;
	max-height:800px;
	min-height:600px;
	z-index:200;
}


/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}




/*
 * Footer
 */

.footer {
  padding: 40px 0;
  color: #000;
  text-align: center;
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
}
.footer p:last-child {
  margin-bottom: 0;
}

.footer p {
	text-indent:3em; 
	margin:0px;
}

.event {
    width:600px;
    height:200px;
    margin-left:auto;
    margin-right:auto;
    background-color:#F7FF61;
}
